._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  transform: translate(0px, 0);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}