.contact__icon_type_email {
  background-image: url('../../../../images/bx-envelope.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  background-color: white;
  margin-right: 10px;
}