.grid__skills {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 50px 15px;
}

@media screen and (max-width: 730px) {
  .grid__skills {
    row-gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .grid__skills {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}