@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/lang-menu/lang-menu.css);
@import url(../blocks/lang-menu/__btn/lang-menu__btn.css);
@import url(../blocks/lang-menu/__btn/_select/lang-menu__btn_select.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu-list/menu-list.css);
@import url(../blocks/menu-list/__item/menu-list__item.css);
@import url(../blocks/container/container.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__container/hero__container.css);
@import url(../blocks/hero/__about/hero__about.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__description/hero__description.css);
@import url(../blocks/hero/__box/hero__box.css);
@import url(../blocks/hero/__box-img/hero__box-img.css);
@import url(../blocks/grid/__skills/grid__skills.css);
@import url(../blocks/grid/__skills-item/grid__skills-item.css);
@import url(../blocks/neonText/_color/neonText_color_blue.css);
@import url(../blocks/neonText/_color/neonText_color_cyan.css);
@import url(../blocks/neonText/_color/neonText_color_gray.css);
@import url(../blocks/neonText/_color/neonText_color_green.css);
@import url(../blocks/neonText/_color/neonText_color_orange-red.css);
@import url(../blocks/neonText/_color/neonText_color_purple.css);
@import url(../blocks/neonText/_color/neonText_color_red.css);
@import url(../blocks/neonText/_color/neonText_color_yellow.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__description/about__description.css);
@import url(../blocks/projects/projects.css);
@import url(../blocks/my-projects/my-projects.css);
@import url(../blocks/my-projects/__container/my-projects__container.css);
@import url(../blocks/my-projects/__title/my-projects__title.css);
@import url(../blocks/my-projects/__link/my-projects__link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__container/contact__container.css);
@import url(../blocks/contact/__link/contact__link.css);
@import url(../blocks/contact/__icon/_type/contact__icon_type_email.css);
@import url(../blocks/contact/__icon/_type/contact__icon_type_linkedin.css);
@import url(../blocks/contact/__icon/_type/contact__icon_type_telegram.css);
@import url(../blocks/anim-show/anim-show.css);
@import url(../blocks/my-projects/_type/my-projects_type_aim-training.css);
@import url(../blocks/my-projects/_type/my-projects_type_how-to-learn.css);
@import url(../blocks/my-projects/_type/my-projects_type_mesto.css);
@import url(../blocks/my-projects/_type/my-projects_type_russian-travel.css);
@import url(../blocks/disable-scroll/disable-scroll.css);
