.menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 20px;
}

@media screen and (max-width: 919px) {
  .menu-list {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 612px) {
  .menu-list {
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}