.slide_type_vertical-slider:hover {
  animation: slide_type_vertical-slider 6s infinite alternate ease-in-out;
}

@keyframes slide_type_vertical-slider {
  from {
    background-image: url('../../../images/vertical-slider.png');
  }

  50% {
    background-image: url('../../../images/vertical-slider2.png');
  }

  75% {
    background-image: url('../../../images/vertical-slider3.png');
  }

  100% {
    background-image: url('../../../images/vertical-slider4.png');
  }
}